<!DOCTYPE html>
<html xmlsns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Employee Management System</h1>
<h2 style="color:blue" th:text="'Welcome '+${session.user.userName}+'!'"></h2>
<h1>Enter Employee Details</h1>
<!--  
<form action="./saveEmployee" method="post">
	Enter Employee ID <input type="text" name="empId"><br><br>
	Enter Employee Name <input type="text" name="empName"><br><br>
	Enter Employee Designation <input type="text" name="empDesignation"><br><br>
	Enter Employee Department <input type="text" name="empDepartment"><br><br>
	Enter Employee Salary <input type="text" name="empSalary"><br><br>
	<input type="submit" value="Save Employee">
</form>
-->

<form action="#" th:action="@{./saveEmployee}" method="post" th:object="${emp}">
	Enter Employee ID <input type="text" th:field="*{empId}"><br><br>
	Enter Employee Name <input type="text" th:field="*{empName}"><br><br>
	Enter Employee Designation <input type="text" th:field="*{empDesignation}"><br><br>
	Enter Employee Department <input type="text" th:field="*{empDepartment}"><br><br>
	Enter Employee Salary <input type="text" th:field="*{empSalary}"><br><br>
	<input type="submit" value="Save Employee">
</form>

<br><br>
<a href="./menu">To Go Main Page</a>
</body>
</html>